<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maple Inspector</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <div class="m-4">
        <h3>Maple Inspector</h3>
        <div v-scope="Character()"></div>
        <div class="container-xs text-center p-3">
            <div v-scope="Row(0)"></div>
            <div v-scope="Row(1)"></div>
            <div v-scope="Row(2)"></div>
            <div v-scope="Row(3)"></div>
            <div v-scope="Row(4)"></div>
            <div v-scope="Row(5)"></div>
        </div>
        <div v-scope="ItemEditor()"></div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module';
        import { jobs, emptyCharacter } from './data.js';
        import { staff } from './data/staff.js';

        function Row(rowNumber) {
            return {
                $template: "#row-template",
                row: rowNumber,
                rows: [
                    ['ring1', '', 'hat', '', 'emblem'],
                    ['ring2', 'pendant1', 'face', '', 'badge'],
                    ['ring3', 'pendant2', 'eye', 'ear', 'medal'],
                    ['ring4', 'weapon', 'top', 'shoulder', 'secondary'],
                    ['pocket', 'belt', 'bottom', 'gloves', 'cape'],
                    ['', '', 'shoes', 'android', 'heart']
                ],
            }
        }

        function Col(itemSlot) {
            return {
                $template: "#col-template",
                itemSlot: itemSlot,
            }
        }

        function Item(position) {
            let name = position;
            let url = `https://placehold.co/50?text=${emptyCharacter[position].name}`;
            let level = 0;
            let stars = 0;
            let potential = 0;
            let flameScore = 0;
            let item = localStorage.getItem(position);
            if (item) {
                let itemJSON = JSON.parse(item);
                name = itemJSON.name;
                url = itemJSON.image;
                level = itemJSON.level;
                stars = itemJSON.stars;
                potential = itemJSON.potential;
                flameScore = itemJSON.flameScore;
            }
            return {
                $template: "#item-template",
                position: position,
                name: name,
                image: url,
                level: level,
                stars: stars,
                potential: potential,
                flameScore: flameScore,
            }
        }

        function Character() {
            let job = localStorage.getItem('job') || "none";
            let archetype = localStorage.getItem('archetype') || "";
            let faction = localStorage.getItem('faction') || "";
            let level = localStorage.getItem('level') || 0;
            return {
                $template: "#character-template",
                job: job,
                archetype: archetype,
                faction: faction,
                jobs,
                select(selection) {
                    this.job = selection;
                    this.archetype = jobs[selection].archetype;
                    this.faction = jobs[selection].faction;
                    this.weapons = jobs[selection].weapons;
                    localStorage.setItem('job', selection);
                    localStorage.setItem('archetype', JSON.stringify(jobs[selection].archetype));
                    localStorage.setItem('faction', jobs[selection].faction);
                    localStorage.setItem('weapons', JSON.stringify(jobs[selection].weapons));
                }
            }
        }

        function ItemEditor() {
            return {
                $template: "#item-editor-template",
                staff,
                save(item) {
                    console.log("Saving item in slot:", item.position);
                    console.log("Item name:", item.name);
                    localStorage.setItem(item.position, JSON.stringify(item));
                },
                close() {
                    this.editorEnabled = false;
                },
            }
        }

        createApp({ Row, Col, Item, Character, ItemEditor, selectedItem: {}, editorEnabled: false }).mount();
    </script>

    <template id="row-template">
        <div class="row row-cols-auto">
            <div class="col" v-scope="Col(rows[row][0])"></div>
            <div class="col" v-scope="Col(rows[row][1])"></div>
            <div class="col" v-scope="Col(rows[row][2])"></div>
            <div class="col" v-scope="Col(rows[row][3])"></div>
            <div class="col" v-scope="Col(rows[row][4])"></div>
        </div>
    </template>

    <template id="col-template">
        <div v-if="itemSlot != ''" v-scope="Item(itemSlot)"></div>
        <div v-else style="visibility: hidden;"><img src="https://placehold.co/50" class="img-thumbnail"
                alt="empty slot"></div>
    </template>

    <template id="item-template">
        <img :src="image" class="img-thumbnail" alt="item" v-on:click="{ selectedItem = $data; editorEnabled = true; }"
            height="60" width="60" />
    </template>

    <template id="character-template">
        <div class="input-group mb-3 text-start" style="max-width: 300px;">
            <label class="input-group-text" for="classSelect">Class</label>
            <select class="form-select" id="classSelect" @change="select($event.target.value)" v-model="job">
                <option selected>Select Class...</option>
                <option v-for="(data, option) in jobs" :value="option">{{ option }}</option>
            </select>
        </div>
    </template>

    <template id="item-editor-template">
        <div v-if="editorEnabled">
            <div class="input-group mb-3" style="max-width: 300px;">
                <span class="input-group-text" id="item-name">Item</span>
                <!-- <input type="text" class="form-control" v-model="selectedItem.name" aria-label="Item Name"
                    aria-describedby="item-name"
                    @change="{selectedItem.name = $event.target.value; save(selectedItem);}"> -->
                <select class="form-select" id="itemSelect" v-model="selectedItem.name" aria-label="Item Name"
                    aria-describedby="item-name" @change="{
                        selectedItem.name = $event.target.value;
                        selectedItem.level = staff[$event.target.value]['requirements']['level'];
                        selectedItem.image = staff[$event.target.value]['image'];
                        save(selectedItem);
                    }">
                    <option selected>Select Item...</option>
                    <option v-for="(data, option) in staff" :value="option">{{ option }}
                    </option>
                </select>
            </div>
            <div class="input-group mb-3" style="max-width: 300px;">
                <span class="input-group-text" id="item-level">Level</span>
                <div class="form-control" aria-label="Level" aria-describedby="item-level">{{
                    selectedItem.level }}</div>
            </div>
            <div class="input-group mb-3" style="max-width: 300px;">
                <span class="input-group-text" id="item-stars">Stars</span>
                <input type="number" class="form-control" v-model="selectedItem.stars" aria-label="Stars"
                    aria-describedby="item-stars"
                    @change="{selectedItem.stars = $event.target.value; save(selectedItem);}">
            </div>
            <div class="input-group mb-3" style="max-width: 300px;">
                <span class="input-group-text" id="item-potential">Potential</span>
                <input type="number" class="form-control" v-model="selectedItem.potential" aria-label="Potential"
                    aria-describedby="item-potential"
                    @change="{selectedItem.potential = $event.target.value; save(selectedItem);}">
            </div>
            <div class="input-group mb-3" style="max-width: 300px;">
                <span class="input-group-text" id="item-flame-score">Flame Score</span>
                <input type="number" class="form-control" v-model="selectedItem.flameScore" aria-label="Flame Score"
                    aria-describedby="item-flame-score"
                    @change="{selectedItem.flameScore = $event.target.value; save(selectedItem);}">
            </div>
            <button type="button" class="btn btn-primary" @click="close">Close</button>
        </div>
    </template>
</body>

</html>