<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maple Inspector</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
    <div class="m-4">
        <h3>Maple Inspector</h3>
        <div v-scope="Character()"></div>
        <div class="container-xs text-center">
            <div v-scope="Row(0)"></div>
            <div v-scope="Row(1)"></div>
            <div v-scope="Row(2)"></div>
            <div v-scope="Row(3)"></div>
            <div v-scope="Row(4)"></div>
            <div v-scope="Row(5)"></div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module';
        import { classOptions } from './data.js';

        function Row(row_number) {
            return {
                $template: "#row-template",
                row: row_number,
                rows: [
                    ['ring', '', 'hat', '', 'emblem'],
                    ['ring', 'pendant', 'face', '', 'badge'],
                    ['ring', 'pendant', 'eye acc', 'ear acc', 'medal'],
                    ['ring', 'weapon', 'top', 'shoulder', 'sub weapon'],
                    ['pocket', 'belt', 'bottom', 'gloves', 'cape'],
                    ['', '', 'shoes', 'android', 'heart']
                ],
            }
        }

        function Col(name) {
            return {
                $template: "#col-template",
                name: name,
            }
        }

        function Item(props) {
            let url;
            if (props.url) {
                url = props.url;
            } else if (props.name) {
                url = `https://placehold.co/37?text=${props.name}`;
            } else {
                url = "https://placehold.co/37";
            }
            return {
                $template: "#item-template",
                url: url,
                edit: false,
                toggle() {
                    this.edit = !this.edit;
                },
            }
        }

        function Character() {
            return {
                $template: "#character-template",
                selectedClass: "",
                classOptions,
                select(selection) {
                    console.log(selection)
                    this.selectedClass = selection;
                }
            }
        }

        createApp({ Row, Col, Item, Character, popup: false }).mount();
    </script>

    <template id="row-template">
        <div class="row row-cols-auto">
            <div class="col-1" v-scope="Col(rows[row][0])"></div>
            <div class="col-1" v-scope="Col(rows[row][1])"></div>
            <div class="col-1" v-scope="Col(rows[row][2])"></div>
            <div class="col-1" v-scope="Col(rows[row][3])"></div>
            <div class="col-1" v-scope="Col(rows[row][4])"></div>
        </div>
    </template>

    <template id="col-template">
        <div v-if="name == 'weapon'"
            v-scope="Item({ url: 'https://media.maplestorywiki.net/yetidb/Eqp_Genesis_Staff.png' })"></div>
        <div v-if="name != '' && name != 'weapon'" v-scope="Item({ name: name })"></div>
    </template>

    <template id="item-template">
        <img :src="url" class="img-thumbnail" alt="item" v-on:click="toggle" />
        <p v-if="edit">edit</p>
    </template>

    <template id="character-template">
        <div class="input-group mb-3 text-start" style="max-width: 300px;">
            <label class="input-group-text" for="classSelect">Class</label>
            <select class="form-select" id="classSelect" @change="select($event.target.value)">
                <option selected>Select Class...</option>
                <option v-for="option in classOptions" :value="option">{{ option }}</option>
            </select>
        </div>
    </template>
</body>

</html>